.container {
	margin: 0px auto;
	width: 1000px;
}

#byline {
	width: 1000px;
	height: 200px;
}

body { 
	font-family: "Georgia", serif;
}

a {
	float: right;
	font-size: 22px;
}

table {
	border-collapse: collapse;
	width: 1000px;
}

th, td {
	border: 2px solid rgb(80,80,80);
	padding: 3px;
}

th {
	background-color: #8d9ca4;
	color: #fff;
}

table td:nth-child(n) {
	text-align: center;
}

table td:nth-child(3) {
	text-align: left;
}

table tr:nth-child(2n) {
	background-color: #d8e4ea
}

