<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/assoc.css">
		<title> Find Your Disease Here </title>
	</head>

	<body>
		<div class="container">
		<img id="byline" src="../img/testbanner2.jpg">
		<header id="gene_info">
			<h2>Query Gene Data</h2>
			<p> Gene of Interest: {{gene}} </p>
			<p> Description: {{gene_desc}} </p>
		</header>

		<header id="search_results">
			<h2>Disease Association Results</h2>

			{% if (count > 1) %}
				<p> {{count}} phenotype correlations detected!  Listing in order of signficance. </p>
			{% elif (count == 1) %}
				<p> {{count}} phenotype correlation detected!</p>
			{% else %}
				<p> No disease correlations detected for this gene.  Please try a different search.</p>
			{% endif %}
		
			<a href="../final.php">New Search</a>
	
				<table>
					<tr id="col_heads">
						<th>Index</th>
						<th>Score</th>
						<th>Disease Name</th>
						<th>Disease ID</th>
					</tr>
				{% for i in range(count) %}
					<tr id="col_data">
						<td> {{i+1}}
						<td> {{score[i]}} </td>
						<td> {{diseaseName[i]}} </td>
						<td> {{diseaseID[i]}} </td>		
					</tr>
				{% endfor %}
				</table>
		</header>
		</div>
	</body>
</html>
